* {
	margin: 0;
}

html,body {
	height: 100%;
	width: 100%;
	/* overflow: hidden; */
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
}


.graphit-container {
	padding:0em;
	margin: 0.5em;
	font-size: small;
	border-style: ridge none;
	border-width: thin;
	border-color: lime;
	text-shadow: blue;

}

.graphit-container, .renderer {
	width: auto;
	max-width: 160px;
	min-width: 60px;
	background-color: #000;
	font-size: x-small;
}
.graphit-container, .log {
	display: none;
	visibility: hidden;
}
.field .key {
	display: inline-block;
	padding: 0 1em;
	max-size: 80px;
	min-size: 40;
	overflow: hidden;
	text-decoration: underline;
	text-align: right;
}

.field .value {
	display: inline;
	padding: 0 1em;
	text-decoration: none;
	text-align: left;
}
.graphit-error: {
	color: red;
}
.graphit-widget {
	padding: 0;
	margin: 0.25em 0.5em;
	font-size: small;
	border-style: none none dotted none;
	border-width: 1px;
	width: 200px;
}

.graphit-widget .value {
	display: inline-block;
	padding: 0 1em;
}

.clock-container {
	float: left;
	margin: 0;
	padding: 0;
}

.ui-widget {
	border-style: inset;
	border-width: 2px;
	border-color: grey;
	height: auto !important;
	clear: right;
}

.ui-widget>.header {
	min-height: 0.75em;
	text-align: center;
	vertical-align: middle;
	border-style: None;
	border-width: 2px;
	border-color: grey;
	font-size: 1em;
}

.ui-widget>.content {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	border-style: outset;
	border-width: 1px;
	border-color: grey;
	background-color: grey;
	overflow: auto;
}

.ui-widget>.footer {
	height: 2em;
	border-style: none None None None;
	border-width: 2px;
	border-color: grey;
	margin: 0 4em 0 0;
	clear: both;
	font-size: 0.5em;
	text-align: right;
}

.test-container .msg {
	margin: 0 1em;
	border-style: none None dotted None;
	border-width: 1px;
	border-color: grey;
		overflow: auto;
	font-family: monospace;
	font-size: medium;
}