/T barbar.zip
/T firedragon.zip
/T grey troll.zip
/T harrytheorc.zip
/T swordskel.zip
/T_inside_wall_steel.zip
/T_inside_wall_stone_blue.zip
/T_inside_wall_stone_yellow.zip
/T_squhillstonebrown.zip
/T_squhillstonegrey.zip
